<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Window</title>
</head>
<body>
    <h2>You are about to edit this user : <%= user.email %></h2>

    <br />

    <form method="post" action="/user/<%=user.id%>?_method=PATCH">

        <textarea name="username"><%= user.username %></textarea>
        <input type="password" name="password" placeholder="Enter password" />

        <br />

        <button>Edit</button>

    </form>

    <br />
    
    <div style="text-align: center;">
        <a href="/user">← Back to User List</a>
    </div>

    <link rel="stylesheet" href="/style.css" />
</body>
</html>