<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New user</title>
</head>
<body>
    <h3>Fill details of new user</h3>

    <br />

    <form action="/user/new" method="POST">

        <input name="username" placeholder="enter username" type="text" />
        <br />
        <input name="email" placeholder="enter email" type="email" />
        <br />
        <input name="password" placeholder="enter password" type="password" />

        <br />

        <button>Submit</button>

    </form>

    <link rel="stylesheet" href="/style.css" />
</body>
</html>